body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #530071; /* background page color */
    color: white; /* change text color */
}

header {
    background-color: #f5f5f5; /* give the head a different color */
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 1vh;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 15px;
    font-weight: bold;
}

.info {
    margin-top: 2vh;
    text-align: center; /* center alignment */
}

#list {
    display: flex;
    justify-content: center; /* center alignment */
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}